
.chat-footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 10px; */
}

.chat-footer .message-form {
    flex: 1;
}

.chat-footer .message-input {
    width: 100%;
    padding: 8px;
    border: none;
}

/* Hide scrollbar for the input in Firefox */
.chat-footer .message-input {
    scrollbar-width: none; /* Firefox */
    padding: 5px;
}

.chat-footer .message-input::-webkit-scrollbar {
    display: none; /* Webkit */
}

.typing {
    padding: 5px;
    color: #888;
    font-style: italic;
    /* text-align: center; Center the typing indicator */
}