.chat-header {
    background-color: #18293A;
    color: white;
    padding-left: 5px;
    /* position: fixed; */
}

h2 {
    margin: 0;
}

.connected {
    color: green;
}

.disconnected {
    color: red;
}