.chat-message {
    padding: 0px 5px; /* top right bottom left */
    /* border-bottom: 1px solid #ccc; */
    overflow-wrap: break-word;
}

.message-header {
    display: flex;
    align-items: center;
}

.username {
    margin: 0;
}

.time {
    font-size: 0.8em;
    color: #777;
    margin-left: 10px;
}

.message-content {
    margin: 5px 5px 5px 0px;
}